<!-- index.hbs -->
   <fieldset>
        <h1>
            Area 56 Grocery Supply
        </h1>
	<h3>
        <!-- alien image here -->
	    <img src=https://upload.wikimedia.org/wikipedia/commons/2/28/Alien_in_a_UFO_Cartoon.jpg width="210" height="120"><br>
        An out of this world experience! <br>
        Headquarted in sunny Las Vegas, Nevada
        
	</h3>
        
    </fieldset>

    <fieldset>
        <button><a href="http://localhost:9302/">Home</a></button>
        <button><a href="http://localhost:9302/clients">Clients</a></button>
        <button><a href="http://localhost:9302/contacts">Contacts</a></button>
        <button><a href="http://localhost:9302/products">Products</a></button>
        <button><a href="http://localhost:9302/orders">Orders</a></button>
        <button><a href="http://localhost:9302/sales_representatives">Sales Representatives</a></button>
    </fieldset>
    <fieldset>
        <ul>
            <li>
                <button><a href="http://localhost:9302/clients"> Clients: View, Add, Update, Delete</a></button>
            </li>
            <li>
                <button><a href="http://flip3.engr.oregonstate.edu:9301/contacts"> Contacts: View, Add, Update, Delete</a></button>
            </li>
            <li>
                <button><a href="http://flip3.engr.oregonstate.edu:9301/products"> Products: View, Add, Update, Delete</a></button>
            </li>
            <li>
                <button><a href="http://flip3.engr.oregonstate.edu:9301/orders"> Orders: View, Add, Update, Delete</a></button>
            </li>
            <li>
                <button><a href="http://flip3.engr.oregonstate.edu:9301/sales_representatives"> Sales Representatives: View, Add, Update, Delete</a></button>
            </li>
       

        </ul>
    </fieldset>